#page
  padding: 128px 32px

#variants-box
  margin: 64px 0 0 0

#breadcrumb
  margin: 0 0 24px 0

.pagination-wrapper
  width: 50%
  margin: 0 auto
  min-width: 300px

.product
  .header
    text-transform: capitalize

.product-description
  margin: 24px 0 0 0

#advanced_search_searchFields
  .checkbox
    margin: 0 24px 0 0