{% extends 'base.html.twig' %}
{% form_theme form 'forms/semantic-ui-forms-theme.html.twig' %}

{% block body %}

    <h1 class="ui header">Edit product</h1>

    {{ form_start(form) }}
    <div class="ui form">
        <div class="field">

            {{ form_row(form.title) }}
        </div>
        <div class="field">
            {{ form_row(form.description) }}
        </div>
        <button type="submit" class="ui primary button">Edit</button>
    </div>
    {{ form_end(form) }}
{% endblock %}